:root {
  --black: #211A1E;
  --red: #c3423f;
  --orange: #E09546;
  --yellow: #FDE74C;
  --green: #9BC53D;
  --blue: #5BC0EB;
  --purple: #9952B7;
  --white: #f0f8ff;
  --grey: #5b5e68;
}

html,
body {
  background: var(--black);
  color: var(--white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 3rem;
  border-bottom: var(--red) solid 3px;
  width: 100%;
  z-index: 100;
}



.logo {
  position: relative;
  display: flex;
  align-items: center;
  height: inherit;
  left: 20px;
  font-size: 2rem;
  color: var(--red);
  user-select: none;
}

nav {
  font-size: 1.2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-direction: row;
  right: 0;
  top: 0;
  height: inherit;
  align-items: center;
}

nav .anchor {
  display: flex;
  align-items: center;
  padding-inline: 0.75rem;
  color: var(--white);
  text-decoration: underline;
  text-decoration-color: var(--white);
  height: inherit;
}

nav .anchor:hover {
  color: var(--black);
  text-decoration: underline;
  text-decoration-color: var(--black);
  background-color: var(--red);
}

nav .anchor.selected {
  color: var(--red);
  text-decoration: underline;
  text-decoration-color: var(--red);
}

nav .anchor.selected:hover {
  user-select: none;
  color: var(--red);
  background: var(--black);
  text-decoration: underline;
  text-decoration-color: var(--red);
}

div.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.hero .background {
  content: " ";
  display: block;
  height: calc(100% - 3rem);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;
  opacity: 1;
  background: url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?q=80&w=1331&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  z-index: 1;
  opacity: 0.1;
  background-size: cover;
}

div.hero .content {
  display: flex;
  height: calc(100% - 3rem);
  width: 50%;
  position: absolute;
  bottom: 0;
  z-index: 3;
  opacity: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.hero .content p {
  width: 100%;
}

div.hero .content p.attribution {
  margin-left: 100%;
  font-style: italic;
}

span.monospace {
  font-family: monospace;
}